$color-bg-dark: #333333;
$color-bg-light: #343431;
$color-text: #ffffff;
$color-active: #BBBBFF;
$color-button-light: #F9A930;
$color-button-dark: #EFDA40;
$color-button-light-tint: #E99930;
$color-button-dark-tint: #EFEA40;
$color-lang: #99FF33;
$color-dark: #111111;
$color-panel-gradient: linear-gradient(#444449,#343439);

$font: Roboto;
$breakpoints: (
        'S': 600px,
        'M': 700px,
        'L': 1000px,
);