@font-face {
  src: url(fonts/Roboto/Roboto-Medium.ttf);
  font-family: 'Roboto';
}

@font-face {
  src: url(fonts/Roboto/Roboto-Light.ttf);
  font-family: 'RobotoLight';
}

* {
  box-sizing: border-box;
}

b {
  font-family: 'Roboto';
  font-weight: bold;
}

i {
  font-family: 'Roboto';
  font-style: italic;
}

html {
  background-color: #646456 !important;
}

body {
  background-image: linear-gradient(#858575, #646456);
  font-family: 'Roboto';
  font-size: 1.3em;
  height: 100%;
}

#topnav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  text-align: center;
}

nav ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  padding: 0px;
}

nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
}

a {
  color: #bbbbff;
}

nav li a:hover {
  background-color: #222;
  color: #fff;
}

.active {
  background-color: #ffa;
  color: #000;
}

li:last-child {
  border-right: none;
}

main {
  display: grid;
  grid-template-columns: 20vw auto;
}

.sidenav {
  background-color: #333;
  transition: all 1s;
  width: 20vw;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;

  /*
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  */
}

.sidenav > h3 {
  text-align: center;
  padding: 6px 12px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 2em;
}

nav.sidenav > ul {
  background-color: #333;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sidenav a {
  padding: 6px 16px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  border-top: 1px solid white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

h1 {
  color: #ffffff;
  font-size: 2em;
}

#container {
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  overflow: visible;
  text-align: justify;
  color: #000000;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

@media screen and (max-width: 1400px) {
  #container {
    width: 90% !important;
  }
  .sidenav {
    padding-top: 15px;
    font-size: 0.9em;
  }
  .sidenav a {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .sidenav {
    visibility: hidden;
  }
  main {
    display: block;
  }
  #container {
    width: 95% !important;
  }
}

.MathJax {
  font-weight: lighter !important;
  font-size: 0.9em !important;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: large;
}

pre {
  display: block;
  font-family: 'RobotoLight';
  white-space: pre;
  margin: 0.5em;
}

.submit {
  background-color: #554555;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 50px;
  text-align: center;
  font-size: large;
}
ol > li {
  margin: 0;
}
ol > li > pre {
  margin: 0;
}

article > section.center {
  width: 100%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-image: linear-gradient(#ffffee, #eeeedd);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article > section {
  width: 100%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-image: linear-gradient(#ffffee, #eeeedd);
  border: 1px solid #ddd;
}

article > section:hover {
  background-image: linear-gradient(#fffffe, #fefeed);
}

header {
  text-align: center;
}

label {
  font-style: 1.5rem;
  text-align: center;
}

#demo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

div#demo h2 .MathJax {
  font-size: 1.9em !important;
}

div#demo span .MathJax {
  font-size: 1.9em !important;
  margin-left: 20px;
  margin-right: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-right: 1px;
}
#result {
  background-image: linear-gradient(#fff, #ddd);
  color: white;
  border: 1px solid #444;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: large;
  line-height: 40px;
}

.commentForm {
  border-top: 1px solid black;
  width: 100%;
}

#comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
